body {
  font-family: "Poppins", sans-serif;
  background-color: #091f2a;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/274/original/banner.png?1713186762");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
  max-width: 1400px;
  margin: 0 auto;
}

header h3 {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 36px;
  margin: 0;
}

header h1 {
  color: white;
  font-size: 96px;
  font-weight: 700px;
  line-height: 96px;
  margin: 30px 0;
}

header h2 {
  color: white;
  font-size: 28px;
  font-weight: 300;
  line-height: 60px;
  margin: 0;
}

header .button {
  display: inline-block;
  background-color: white;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 16px 32px;
  margin-top: 32px;
}

header .button:hover {
  opacity: 0.8;
  transition: 150ms all ease;
}

main {
  background-color: white;
}

section {
  padding: 100px;
  color: rgb(39, 32, 68);
}

.why-porto-grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

section h3 {
  opacity: 0.3;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 24px;
  margin: 0;
  text-transform: uppercase;
}

section h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}

section p {
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

.secondary {
  background-color: #f8f8f8;
}

.secondary h3 {
  text-align: center;
}

.secondary h2 {
  text-align: center;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
  margin-top: 30px;
}

.card {
  background-color: white;
}

.card-header {
  grid-template-columns: 1fr 1fr;
}

.responsive-image {
  max-width: 100%;
}

.embed {
  aspect-ratio: 1/1;
  width: 100%;
}

.card-body {
  padding: 30px;
  color: rgb(39, 32, 68);
}

.card-body h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.card-body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.card-body h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  margin: 0;
}

.card-footer {
  text-align: center;
  padding: 0 30px 30px;
}

.card-footer a {
  display: block;

  color: white;
  background-color: #235873;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 16px;
  text-decoration: none;
}

.card-footer a:hover {
  opacity: 0.8;
  transition: 150ms all ease;
}

.gallery {
  background-color: white;
  text-align: center;
}

.instagram-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 64px;
}

footer {
  background-image: linear-gradient(rgba(9, 31, 42, 0.9), rgba(9, 31, 42, 0.9)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/290/original/footer.jpeg?1713191141");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}

footer a:hover {
  color: white;
  opacity: 10;
  transition: 150ms all ease;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  color: rgb(255, 255, 255);
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 20px;
}

.grid {
  display: grid;
}

.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
  padding: 100px;
  column-gap: 50px;
}

.footer-grid .col {
  margin: 0 auto;
}

@media (max-width: 960px) {
  body {
    margin: 0;
    justify-content: center;
  }
  container {
    max-width: 100%;
  }

  header {
    max-width: 100%;
    width: 100%;
    padding: 60px 0;
  }

  header h3 {
    font-size: 12px;
  }

  header h1 {
    font-size: 48px;
    line-height: 50px;
  }

  header h2 {
    font-size: 20px;
  }

  section {
    padding: 30px;
  }

  .why-porto-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .responsive-image {
    padding: 0;
  }

  section h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  section h2 {
    font-size: 30px;
  }

  .secondary h3 {
    margin: 0;
  }

  .card .responsive-image {
    display: none;
  }

  .card-header {
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .gallery h3 {
    margin: 0;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .footer-grid .col {
    margin: 0;
  }
}
